@font-face {
	font-family: 'Lato';
	src: url('./fonts/Lato-Regular.woff');
	/* src: local('☺'), url('./fonts/Lato-Regular.woff') format('woff'); */
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Myriad-Pro';
	src: url('./fonts/Myriad Pro Regular.woff');
	src: local('☺'), url('./fonts/Myriad Pro Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src: url('./fonts/OpenSans-Regular.woff');
	src: local('☺'), url('./fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald';
	src: url('./fonts/Oswald-Regular.woff');
	src: local('☺'), url('./fonts/Oswald-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	src: url('./fonts/Poppins-Regular.woff');
	src: local('☺'), url('./fonts/Poppins-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('./fonts/Roboto-Regular.woff');
	src: local('☺'), url('./fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('./fonts/icomoon.eot?6gvcmo');
  src:  url('./fonts/icomoon.eot?6gvcmo#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?6gvcmo') format('truetype'),
    url('./fonts/icomoon.woff?6gvcmo') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  /* speak: never; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-envelope-o:before {
  content: "\f003";
}
.icon-th:before {
  content: "\f00a";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-chevron-left:before {
  content: "\f053";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-gears:before {
  content: "\f085";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}

.icon-globe:before {
  content: "\f0ac";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-linkedin:before {
  content: "\f0e1";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-quote-left:before {
  content: "\f10d";
}
.icon-paint-brush:before {
  content: "\f1fc";
}
.icon-display:before {
  content: "\e956";
}
.icon-dollar:before {
  content: "\f155";
}
.icon-user:before {
  content: "\f007";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-pencil:before {
  content: "\f040";
}
.icon-home:before {
  content: "\f015";
}