@charset "UTF-8";
@import url('./fonts.css');


/*Zero*/
body {margin: 0; padding: 0; box-sizing: border-box; font-size: 14px; font-weight: 400; width: 100%; margin: 0 auto;}
ul, li {padding: 0; margin: 0; list-style: none;}
h1, h2, h3, h4, h5, h6, p, span {margin: 0; padding: 0;}
a, button {cursor: pointer;}
input, button, textarea {outline: none;}

/* -------------------------------------------- */

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.section__title {
  text-align: center;
  margin: 50px auto;
  color: #000000;
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 30px;
  font-weight: 700;
}




/*------------------HEADER----------------------*/



.wrapper {
  overflow: hidden;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header-section {
  position: relative;
  max-width: 100%;
  height: 100%;
  background: url("../img/blue-swoop-background.jpg") center / cover no-repeat; 
  /* background: linear-gradient(-12deg,rgb(250, 250, 250) 310.5px,transparent 0, #1698d9 0) center / cover; */
}

.header-menu {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  z-index: 100;
  height: 70px;
  box-shadow: 0 3px 15px 1px #000000;
  background-color: #003171c5;
  border-radius: 0 0 4px 4px;
  left: 50%;
  transform: translate(-50%, 0); 
}

.header-menu-wrap {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
}

.header-menu-nav {
  position: relative;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.menu-nav {
  display: none;
}

.header-menu-nav__list {
  position: relative;
  display: flex;
  align-items: center;
}

 .header-menu-nav__list-item {
  position: relative;
  list-style: none;
  float: left;
  margin-left: 13px;
}

.header-menu-nav__link {
  color: white;
  text-decoration: none;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  border-bottom: solid 1px transparent;
  z-index: 105;
  white-space: nowrap;
} 

.header-menu-nav__link:hover {
  border-bottom: solid 1px white;
  transition: .2s linear;
}

.header-logo {
  display: flex;
  position: relative;
  width: 120px;
  height: 60px;
}

.header-logo__img {
  width: 120px;
  height: 60px; 
  z-index: 90;
}

.header-section-wrap {
  position: relative;
  display: flex;
  flex-direction: row;
}

.header-section-left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;

  transform: translateX(-120%);
  opacity: 0;
}

.header-section-left.anim-active {
  transform: translateX(0);
  opacity: 1;
  transition: all .7s linear;
}

.header-section-left__title {
  font-size: 60px;
  font-weight: 800;
  font-family: 'Poppins', 'Arial', sans-serif;
  text-align: left;
  letter-spacing: 1px;
  color: white;
  line-height: 68px;
  margin-right: -155px;
  height: 100%;
  padding-top: 250px;
}

.header-section-left__btn {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
}

.header-section-left__btn-link {
  max-width: 125px;
  max-height: 40px;
  border: solid 2px white;
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 9px 32px 9px 24px;
  margin-right: 20px;
  border-radius: 10px;
  font-size: 12px;
  font-family: 'Poppins', 'Arial', sans-serif;
  text-decoration: none;
  align-items: center;
  line-height: 13px;
  color: white;
  background-color: #43b6ec83;
}

.header-section-left__btn-link:hover {
  background-color: #00308fa4;
  transition: .5s;
}


.header-section-left__btn-img {
  max-width: 100%;
  margin-right: 10px;
  text-align: center; 
}

.header-section-rigth {
  position: relative;
  display: flex;
  justify-content: flex-end;
  top: 185px;
  width: 578px;
  height: 490px; 

  visibility: hidden;
  transform: translateX(120%);
}
.header-section-rigth.anim-active {
  visibility: visible;
  transform: translateX(0);
  transition: all .7s linear;
}

.header-section-rigth__img {
  width: 100%;
  height: 100%;
}

.header-section-rigth__img:hover {
  filter: saturate(1000%);
}





/* -----------------FEATURES-----------------*/




.features {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.features__block {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 57px;
  justify-content: center;
}

.features__block-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.features__block-content-left {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 25px 0 25px 50px;

  opacity: 0;
  transform: translateX(-120%);
}
.features__block-content-left.anim-active {
  opacity: 1;
  transform: translateX(0);
  transition: all .7s linear;
}

.features__block-content-right {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin: 25px 50px 25px 0;

  opacity: 0;
  transform: translateX(120%);
}


.features__block-content-right.anim-active {
  opacity: 1;
  transform: translateX(0);
  transition: all .7s linear;
}

.features__block-img {
  position: relative;
  min-width: 70px;
  height: 70px;
  border-radius: 50%;
  border: solid 2px #d6d6d6;
  background-color: #ffffff;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-display, .icon-gear, .icon-paint-brush, .icon-th {
  content: "\e956";
  color: #2666ce;
  font-size: 44px;
}

.features__block-img img {
  width: 70px;
  height: 70px;
  border: none;
}

.features__block-text-left {
  margin: 0;
  top: 0;
}

.block-text-right {
  text-align: right;
  width: 100%;
}

.features__block-text p {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  font-size: 18px;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 700;
  color: #161e26;
}

.features__block-text span {
  font-size: 14px;
  font-family: 'Roboto', 'Arial', sans-serif;
  color: #6c8784;
}

.features__block-center {
  position: relative;
  margin: 0 80px;
  
  transform: translateY(20%);
  opacity: 0;
}

.features__block-center.anim-active {
  opacity: 1;
  transform: translateY(0);
  transition: all .7s linear;
}

.features__block-center-img {
  min-width: 100%;
  height: 100%;
}

.features-music {
  background: url('../img/background-features-music.png') center / cover no-repeat; 
  max-width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.features-music__block {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 80px 0;
}

.features-music__content-phone {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
  margin-left: 40px;
  min-width: 350px;

  opacity: 0;
}
.features-music__content-phone.anim-active {
  opacity: 1;
  transition: all 1.2s linear;
}

.features-music__content-phone img:nth-child(1) {
  z-index: 10;
  left: 0px;
}

.features-music__content-phone img:nth-child(2) {
  position: absolute;
  left: 43px;
  z-index: 15;
}
.features-music__content-phone img:nth-child(3) {
  position: absolute;
  left: 86px;
  z-index: 20;
}

.features-music__column-item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  color: white;
  font-family: 'Lato', 'Arial', sans-serif;
  padding-right: 15px;
}

.features-music__column-title {
  position: relative;
  font-size: 28px;
  margin-top: 10px;
  margin-bottom: 40px;

  opacity: 0;
  transform: translateY(140%);
}

.features-music__column-title::before {
  content: '';
  width: 70px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 34px;
  background-color: #ffffff;
}

.features-music__column-text {
  font-size: 14px;
  margin-bottom: 20px;

  opacity: 0;
  transform: translateY(140%);
}

.features-music__column-title.anim-active,
.features-music__column-text.anim-active {
  opacity: 1;
  transform: translateY(0);
  transition: all .8s linear;
}




/* --------------SCREENSHOTS -------------*/



.screenshots {
  width: 100%;
}

.screenshots__galary {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 100px;
}

.screenshots__column {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: -5px;
}

.screenshots__column-item--t {
  display: flex;
  flex-direction: row;
}

.screenshots__column-item {
  position: relative;
  display: flex;
  max-width: 100%;
  max-height: 100%;
  margin: 2px;
}

.screenshots__column--img {
  width: 100%;
  height: 100%;
}





/* --------------VIDEO-------------*/



.video {
  position: relative;
  width: 100%;
  background-color: #eeeeee;
}

.video__block {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  margin-bottom: 82px;
}

.video__screen {
  margin-right: 10px;
  width: 65%;
  background-color: #41484e;
}

.video__screen-item-play {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.video__box {
  width: 35%;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #41484e;
}

.video__box-wpapper {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 7px;
}

.video__box-wrapper-up {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 70; 
  cursor: pointer;
}

.video__box-item {
  max-width: 150px; 
  height: 100%;
  position: relative;
  z-index: 65;
}

.video__box-item-play {
  width: 100%;
  height: 100%;
}

.video__box-item-row {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-left: 20px;
  padding-right: 10px;
  color: white;
}

.video__box-item-title {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  position: relative;
}

.video__box-item-title::before {
  content: '';
  width: 40px;
  height: 1px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 22px;
}

.video__box-item-text {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px; 
}




/* -------------------SERVICES------------------*/


.services {
  position: relative;
  width: 100%;
}

.services__info {
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 1 33.33%;
  margin-bottom: 50px;

  opacity: 0;
  transform: translateY(35%);
}
.services__info.anim-active {
  opacity: 1;
  transform: translateY(0);
  transition: .7s linear;
}


.services__info-column {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
  text-align: center;
}

.services__info-column:nth-child(2)::before {
  content: '';
  position: absolute;
  height: 167px;
  width: 1px;
  background-color: #161e26;
  left: 0;
  bottom: 0;
  
}
.services__info-column:nth-child(2)::after {
  content: '';
  position: absolute;
  height: 167px;
  width: 1px;
  background-color: #161e26;
  right: 0;
  bottom: 0;
}

.services__info-column-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/icon-figur-romb.png') center / cover no-repeat; 
  width: 84px;
  height: 97px;
}

.icon-cogs, .icon-clock-o, .icon-mobile-phone {
  font-size: 58px;
  color: white;
}

.services__info-column-title {
  position: relative;
  margin: 36px 0 35px 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 18px;
  color: #595d61;
}

.services__info-column-title::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: #161e26;
  left: calc(50% - 35px);
  top: 23px;
}

.services__info-column-text {
  color: #6c8784;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
}

.services__number {
  background: url('../img/background-number.png') center / cover no-repeat; 
  width: 100%;
  height: 100%;
}

.services__number-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  flex: 1 1 25%;
}

.services__number-list {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.services__number-list:not(:nth-child(1))::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 131px;
  background-color: #161e26;
  left: 0;
  top: calc(50% - 65.5px);
  background-color: white;
}

.services__number-item {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 72px;
  color: white;
  margin-bottom: 30px;
  margin: 0; 
}

.services__number-text {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-size: 18px;
  color: white;
  margin-top: 10px;
}




/* --------------TESTIMONIALS---------------- */



.testimonials {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #eeeeee;
}

.testimonials__slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  opacity: 0;
  transform: matrix(1, 0, 0, 0.01, 0, -220);  
}
.testimonials__slider.anim-active {
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0); 
  transition: .8s;
}

.testimonials__slider-block {
  display: flex;
  flex-direction: row;
  width: 74%;
}

.testimonials__slider-arrow-left, .testimonials__slider-arrow-right {
  background-color: #97a0c0;
  width: 8%;
  max-height: 100%;
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.testimonials__icon-chevron-left, .testimonials__icon-chevron-right {
  font-size: 30px;
  color: white;
  cursor: pointer;
}
.testimonials__icon-chevron-left:hover, .testimonials__icon-chevron-right:hover {
  font-size: 40px;
  color: #164e9b;
}

.testimonials__slider-box-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: url('../img/background-slide-testimonials.png') center / cover no-repeat; 
  box-shadow: 0 5px 6px 5px rgba(0, 0, 0, 0.24);
}

.testimonials__slider-box {
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
  display: none;
}

.testimonials__slider-box.active-testimonials-slider{
  animation: animSlide 1s linear;
  display: flex;
}
@keyframes animSlide {
  0% {opacity: 0;}
  50% {opacity: .5;}
  100% {opacity: 1;}
}

.testimonials__slider-box-img {
  position: relative;
  min-width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  margin-left: 40px;
  overflow: hidden;
}

.testimonials__slider-box-img img {
  width: 120px;
  height: 120px;
}

.testimonials__slider-box-items {
  position: relative;
  padding: 24px 80px 20px 30px;
  color: white;
}

.icon-quote-left {
  position: relative;
  font-size: 72px;
  margin-left: -30px;
}

.testimonials__slider-box-text {
  font-family: 'Myriad Pro', 'Arial', sans-serif;
  font-size: 14px;
  text-align: center;
  margin-top: 20px;
}

.testimonials__slider-box-name {
  position: relative;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  margin-top: 45px;
  text-align: center;
}
 
.testimonials__slider-box-name::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: white;
  left: calc(50% - 35px);
  top: 18px;
  
}

.testimonials__slider-box-position {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  
}

.testimonials__slider-dots {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 40px 0;
  margin-bottom: 20px;
}

.testimonials__slider-dots-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 2px #293d85;
  margin: 0 5px;
  cursor: pointer;
}

.testimonials__slider-dots-item.active-dot {
  background-color: #293d85;
}




/* --------------------OUR TEAM-------------------- */



.our-team {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.our-team__slider-box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex: 1 1 33.33%;
  justify-content: center;
  margin-bottom: 60px;
}

.our-team__slider-box-column {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 30px;
}
.our-team__slider-box-column:focus {
  border: none;
  outline: none;
}

.our-team__slider-box-img {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.our-team__slider-box-photo {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.our-team__slider-box-item {
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-team__slider-box-item--title {
  position: relative;
  color: #161e26;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-size: 18px;
  margin-top: 30px;
  text-align: center;
}
.our-team__slider-box-item--title::before {
  content: '';
  width: 70px;
  height: 1px;
  position: absolute;
  left: calc(50% - 35px);
  top: 23px;
  background-color: #161e26;
}

.our-team__slider-box-item--text {
  color: #6c8784;
  font-family:'Poppins', 'Arial', sans-serif;
  font-size: 14px;
  margin-top: 3px;
  text-align: center;
}

.our-team__slider-box-socialnetworks {
  position: relative;
  padding: 35px 0;
  display: flex;
  flex-direction: row; 
  justify-content: center;

}

.social-icon {
  border-radius: 50%;
  padding: 10px 10px; 
  margin: 0 5px;
  width: 10px;
  height: 10px;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.our-team__slider-box-socialicon {
  border: solid 1px #313c47;
  color: black;
}

.icon-facebook, .icon-twitter, .icon-linkedin  {
  font-size: 16px;  
}

.icon-facebook[data-icon="our-team"]:hover, 
.icon-twitter[data-icon="our-team"]:hover,
.icon-linkedin[data-icon="our-team"]:hover, 
.our-team__slider-box-socialicon:hover {  
  color:white;
  background-color: #313c47;
  transform: scale(1.3);
  transition-duration: .3s;
}




/* ---------------OUR PARTNERS--------------------- */



.partners {
  position: relative;
  width: 100%;
  background-color: #eeeeee;
}

.partners__block {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.partners__block-img {
  max-width: 100%;
  max-height: 100%;
}




/* ------------------PRICING------------------- */



.pricing {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.pricing__card {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 0 50px;
  margin-bottom: 80px;
  color: white;

  opacity: 0;
  transform: translateY(10%);
}
.pricing__card.anim-active {
  opacity: 1;
  transform: translateY(0);
  transition: .7s linear;
}


.pricing__card-column {
  min-width: 300px;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  border: solid 1px #174f9c;
  margin: 0 10px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  background-color: white;
  font-size: 18px;
  align-items: center;
}


.pricing__card-column:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.486);
  transition-duration: .4s;
}

.pricing__card-column-header {
  width: 100%;
  padding: 23px 0;
  text-align: center;
  background-color: #3271bf;
}

.pricing__card-column-price {
  width: 100%;
  height: 135px;
  background: url('../img/pricing-card-el.png') center / cover no-repeat; 
  text-align: center;
}

.pricing__card-column-price--number {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 60px;
  margin-top: 5px;
}

.icon-dollar {
  font-family: 'Oswald', 'Arial', sans-serif;
  font-size: 24px;
  vertical-align: 30px;
}

.pricing__card-column-text {
  text-align: center;
  padding: 0 25px;
}

.pricing__card-column-text--rt {
  color: #000000;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  margin-top: 45px;
  position: relative;
}

.pricing__card-column-text--rt:not(:nth-child(1))::before {
  content: '';
  background-color:  #174f9c;
  position: absolute;
  width: 120%;
  height: 1px;
  text-align: center;
  left: calc(50% - 60%);
  top: -23px;
}

.pricing__card-column-btn {
  width: 90px;
  padding: 10px 25px;
  background-color: #26679e;
  color: white; 
  border-radius: 11px;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  margin: 45px 0;
  text-align: center;
  cursor: pointer;
}
.pricing__card-column-btn:hover {
  box-shadow: 0 0 3px 2px #002f8f;
}
.pricing__card-column-btn:active {
  box-shadow: inset 0 0 5px 2px #002f8f;
}




/* ------------------FOOTER------------------- */


.contact-us {
  position: relative;
  width: 100%;
  background-color: #0f62a8;
}

.contact-us__block {
  position: relative;
  display: flex;
  flex-direction: row;
  max-width: 100%;
  margin: 60px 0 50px 0;
}

.contact-us__block-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contact-us__text {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 22px;
  color: white;
  position: relative;
  margin-bottom: 30px;
  position: relative;
}
.contact-us__text::before {
  content: '';
  position: absolute;
  width: 70px;
  height: 1px;
  background-color: white;
  left: 0;
  top: 27px;
}

.contact-us__list {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 18px;
  color: white;
  position: relative;
}

.contact-us__list-icon + li {
  margin-top: 20px;
  
}
.icon-envelope-o {
  margin-right: 20px;
}
.icon-globe, .icon-phone, .icon-home {
  margin-right: 25px;
}

.contact-us__socialnetworks {
  position: relative;
  padding: 35px 0;
  display: flex;
  flex-direction: row; 
}

.contact-us__socialicon {
  border: solid 1px white;
  color: white;
}

.icon-facebook[data-icon="footer"]:hover, 
.icon-twitter[data-icon="footer"]:hover,
.icon-linkedin[data-icon="footer"]:hover, 
.contact-us__socialicon:hover {  
  color: #1c4e8c;
  background-color: #ffffff;
  transform: scale(1.3);
  transition-duration: .3s;
}

.contact-us__block-form {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 100px;
}

.contact-us__form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-us__form-item {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.contact-us__form--name, .contact-us__form--email {
  width: 90%;
  height: 27px;
  padding-left: 30px;
  border: 0;
  background-color: #0f62a8;
  border-bottom: solid 1px white;
  outline: none;
  color: white;
  font-size: 15px;
}
.contact-us__form--name::placeholder, .contact-us__form--email::placeholder {
  color: rgb(223, 223, 223);
}

.contact-us__form--message {
  position: relative;
  width: 90%;
  resize: none;
  padding-left: 30px;
  color: rgb(0, 0, 0);
  font-size: 15px;
  border: solid 1px white;
  background-color: #0f62a8;
  outline: none;
  color: white;
}
.contact-us__form--message::placeholder {
  color: rgb(223, 223, 223);
}

.contact-us__form-button {
  width: 100px;
  height: 30px;
  border: solid 1px white;
  background-color: #0f62a8;
  color: white;
}
.contact-us__form-button:hover {
  box-shadow: 0 0 2px 1px white;
  background-color: white;
  color: #0f62a8;
}
.contact-us__form-button:active {
  background-color: white;
  border: solid 1px #0f62a8;
  box-shadow: inset 0 0 3px 1px #0f62a8;
  font-size: 12px;
}

.icon-user, .icon-envelope {
  position: absolute;
  font-size: 16px;
  top: calc(50% - 10px);
  left: 5px;
  color: #ffffff;
}

.icon-pencil {
  position: absolute;
  font-size: 16px;
  top: 5px;
  left: 8px;
  color: #ffffff;
}

.footer {
  padding: 25px 15px;
  background-color: #1c4e8c;
  width: 100%;
}

.footer__text {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  color: white;
  max-width: 1170px;
  margin: 0 auto;
}




/* ------------------------------------------------------------ */





@media (max-width: 1023px) {

  .header {
    width: 100%;
    min-height: 100%;
  }
  .header-logo {
    width: 80px;
  }
  .header-logo__img {
    width: 80px;
  }
  /* ------------------------------- */

  .features__block-content-left {
    margin-left: 0;
  }
  .features__block-content-right {
    margin-right: 0;
  }
  .features__block-center {
    margin: 0 10px;
  }
  /* -------------------------------- */

  .video__block {
    flex-direction: column;
  }
  .video__screen {
    width: 100%;
    height: 100%;
    border-bottom: solid 1px rgb(255, 255, 255);
  }
  .video__box {
    width: 100%;
    overflow: auto;
    flex-direction: row;
  }
  .video__box-item {
    max-width: 140px;
  }
  .video__box-wpapper {
    width: 100%;
    flex-direction: row;
    margin: 10px 0;
  }
  .video__box-item-row {
    width: 300px;
    height: 100%;
    flex-direction: column;
  }
  .video__box-item-title {
    margin: 7px 0 5px 0;
    font-size: 16px;
  }
  /* --------------------------------- */
  
  .services__info-column {
    padding: 0 20px;
  }
  /* --------------------------------- */

  .testimonials__slider-block {
    width: 100%;
  }
  .icon-chevron-left:hover, .icon-chevron-right:hover {
    font-size: 30px;
    color: white;
  }
  /* --------------------------------- */

  .pricing__card-column:hover {
    transform: none;
    box-shadow: none;
    transition-duration: none;
  }
  .pricing__card-column-btn:hover {
    box-shadow: none;
  }
}


@media (max-width: 980px) {
  
  .header-menu {
    flex-direction: column;
  }
  .header-menu-wrap {
    flex-direction: column;
    align-items: center;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-menu-nav__list.nav-active {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #003171a8;
    top: 5px;
    transition: .4s linear;
  }
  .header-menu-nav__list {
    width: 100%;
    height: 0;
    overflow: hidden;
    flex-direction: column;
    top: 5px;
    transition: .4s linear;
  }
  .header-menu-nav__list-item {
    margin: 15px 0 0 0;
    font-size: 18px;
    letter-spacing: 2px;
  }
  
  /* ---------menu-nuv-button------------- */
  .menu-nav {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 50px;
    z-index: 200;
    border-radius: 10%;
    box-shadow: 0 0 5px 2px rgb(255, 255, 255);
    cursor: pointer;
  }
  .menu-nav--item,
  .menu-nav--item::before,
  .menu-nav--item::after {
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 2px;
    left: calc(50% - 14px);
    top: calc(50% - 1px);
    background-color: rgb(255, 255, 255);
  }
  .menu-nav--item::before,
  .menu-nav--item::after {
    content: '';
    display: block;
    transition: .4s;
    border: none;
  }
  .menu-nav--item::before {
    transform: translateY(-6px);
  }
  .menu-nav--item::after {
    transform: translateY(6px);
  }
  .menu-nav--item--active {
    height: 0px;
  }
  .menu-nav--item--active::before {
    transform: rotate(-45deg);
  }
  .menu-nav--item--active::after {
    transform: rotate(45deg);
  }
  /* ----------------------------- */

  .pricing__card {
    flex-direction: column;
    align-items: center;
  }
  .pricing__card-column {
    min-width: 300px;
    margin: 0 3px 15px 3px; 
  }
}
  

@media (max-width: 920px) {

  .header-section-wrap {
    flex-direction: column;
    align-items: center;
  }
  .header-section-left {
    width: 100%;
    margin: 0 auto;
    z-index: 5;
    margin: 0 -150px;

    transform: translateY(-120%);
    opacity: 0;
  }
  .header-section-left.anim-active {
    transform: translateX(0);
    opacity: 1;
    transition: all .7s linear;
  }

  .header-section-left__title {
    width: 100%;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
  }
  .header-section-left__btn {
    justify-content: center;
    margin-top: 40px;
  }
  .header-section-left__btn-link { 
    max-width: 110px;
    max-height: 30px;
    padding: 9px 10px 9px 10px;
    margin-right: 20px;
    font-size: 10px;
  }
  .header-section-left__btn-link:nth-child(2) {
    margin-right: 0;
  }
  .header-section-rigth {
    position: absolute;
    opacity: 0.1;
    z-index: 2;
    top: 290px;
  }
  .header-section-rigth__img {
    filter: saturate(1000%);
  }
  /* ----------------------- */

  .features__block {
    flex-direction: column;
  }
  .features__block-content-left, .features__block-content-right {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .features__block-img {
    width: 70px;
  }
  .features__block-text p {
    margin-top: 10px;
    text-align: center;
  }
  .features__block-text span {
    display: block;
    text-align: center;
  }
  .block-text-right {
    text-align: center;
  }
  .features__block-center {
    display: block;
    text-align: center;
  }
  .features__block-center-img {
    min-width: 45%;
    height: 80%;
  }
  /* --------------------------- */

  .pricing__card-column {
    min-width: 310px;
  }
}


@media (max-width: 790px) {

  .screenshots__galary {
    flex-direction: column;
    overflow: visible;
  }
  .screenshots__column {
    margin-bottom: 0;
  }
  .screenshots__column-item--t {
    display: none;
  }
  .screenshots__column-first {
    display: none;
  }
  /* ------------------------- */

  .services__info {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .services__info-column-title {
    margin: 12px 0 10px 0;
  }
  .services__info-column-text {
    margin-bottom: 35px;
  }
  .services__info-column:nth-child(2)::before {
    background-color: #161e2600;
  }
  .services__info-column:nth-child(2)::after {
    background-color: #161e2600;
  }
  .services__number-list {
    padding: 20px 0;
  }
  .services__number-item {
    font-size: 50px;
  }
  .services__number-text {
    font-size: 16px;
  }
  /* ---------------------- */

  .testimonials__slider-box {
    flex-direction: column;
  }
  .testimonials__slider-box-items {
    padding: 10px;
  }
  .testimonials__slider-box-img {
    margin: 10px 0 0 0;
  }
  .testimonials__slider-box-name {
    margin-top: 20px;
  }
  .icon-quote-left {
    display: none;
  }
  .testimonials__slider-dots-item {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 2px #293d85;
    margin: 0 15px;
  }
  /*-------------------------------  */
  
  .contact-us__block {
    width: 100%;
    flex-direction: column-reverse;
  }
  .contact-us__text {
    width: 100%;
    text-align: center;
  }
  .contact-us__text::before {
    left: calc(50% - 35px);
  }
  .contact-us__block-info {
    width: 100%;
  }
  .contact-us__block-form {
    width: 100%;
    padding-left: 0px;
    margin-bottom: 40px;
  }
  .contact-us__form  {
    margin-bottom: 40px;
  }
}


@media (max-width: 700px) {
  
  .features-music__block {
    padding: 30px 0;
  }
  .features-music__content-phone {
    display: none;
  }
  .features-music__column-item {
    width: 100%;
  }
  .features-music__column-text, .features-music__column-title {
    position: relative;
    display: block;
    text-align: center;
    justify-content: center;
  }
  .features-music__column-title::before {
    width: 0;
  }
}


@media (max-width: 570px) {
 
  .services__number-item {
    font-size: 30px;
  }
  .services__number-text {
    font-size: 12px;
  }
}


@media (max-width: 400px) {
  .services__number-item {
    font-size: 25px;
  }
  .services__number-text {
    font-size: 10px;
  }
}


@media (max-width: 450px) {

  .header-section-left__title {
    font-size: 35px;
    line-height: 50px;
  }

}



